body{
    font-family: Arial, sans-serif;
    background:#025463;
   
    margin: 0;
}
.form-container{
    max-width:500px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    margin-top: 150px;
}
.students-container{
    max-width:1200px;
    margin:40px auto;
}
#students{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:15px;
}
.name-row {
    display: flex;
  }
  #fname{
    width: 48%;  
  }
  #lname {
    width: 48%;
    margin-left: 4%;
  }
input{
    width:96%;
    padding:8px;
    margin:6px 0;
}
select{
    width:100%;
    padding:8px;
    margin:6px 0;
}
button{
    padding:10px 40px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
button:hover{
    background:#0056b3;
}
.delete-btn:hover{
    background:rgb(178, 0, 0);
    transition: 400ms;
}
.card{
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}
.delete-btn{
    margin-top:10px;
    background:rgb(105, 0, 0);
    width:100%;
}
.Cod {
    float: left;
    color: white;
    padding-top: 10px;
    font-size: 25px;
}
nav {
    display: block;
    position: absolute;
    top: 0;
    background:#f4f6f9;
    width: 100%;  
}
li:hover ul li {
    color: blue;
    border-radius: 4px;
    transition: 500ms;
}
a:hover {       
    border-radius: 4px;
    transition: 500ms;
    color: orange;
    font-size: 15.1px;
}
ul li ul li {
    padding: 0px 15px 0px 15px;
    margin-left: 2px;
    margin-right: 2px;
    float: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:#f4f6f9;
    padding-right: px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    box-shadow: #fafcff 0px 1px 5px, #7a7d81 0px 1px 5px,  #7a7d81 0px 1px 5px, #ffffff 0px 1px 5px;
}
li:hover {
    border-radius: 4px;
    transition: 500ms;
    color: orange;
}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}
a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
li>ul {
    display: none;
}
li:hover ul {
    display: inline-block;
    position: absolute;
    background-color: rgb(63, 56, 56);
}